* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #2196f3;
    color: #fff;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ffeb3b;
}

/* Header Section */
header {
    background: linear-gradient(45deg, #2196f3, #b0d1ec);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    height: 90vh;
}

header .container h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    margin-top: 22vh;
}

header .container h1 span {
    color: #0a8014;
}

header .container .subtitle {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

header .container .btn {
    background: #333;
    color: #fff;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

header .container .btn:hover {
    background: #0b880b;
    /* color: #333; */
}
